Workflows/Quiz-CountScoresandsendtoteacher-9EAB5367-3F0B-EB11-A813-000D3AAFBBB4.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"matt_sharedcommondataservice_555b9"},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"matt_sharedcommondataserviceforapps_4590c"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"matt_sharedoffice365_6f8a9"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"matt_quizanswersid":{"title":"Quiz Answers","type":"string","format":"guid"},"matt_quizquestion1":{"title":"Quiz Question 1","type":"string"},"matt_quizquestion2":{"title":"Quiz Question 2","type":"string"},"matt_quizquestion3":{"title":"Quiz Question 3","type":"string"},"matt_name":{"title":"Name","type":"string"},"matt_quizquestion4":{"title":"Quiz Question 4","type":"string"},"matt_quizquestion5":{"title":"Quiz Question 5","type":"string"}},"required":["matt_quizanswersid","matt_quizquestion1","matt_quizquestion2","matt_quizquestion3","matt_name","matt_quizquestion4","matt_quizquestion5"]}},"required":["entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"operationId":"GetOnNewItems_V2","parameters":{"dataset":"default.cds","table":"matt_quizanswerses"}}}},"actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"matt_quizresponseses","$filter":"_matt_quizanswers_value eq @{triggerBody()?['entity']?['matt_quizanswersid']}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Initialize_variable":{"runAfter":{"List_records":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varTotalScore","type":"integer","value":0}]}},"Questions":{"foreach":"@outputs('List_records')?['body/value']","actions":{"Condition":{"actions":{"Increment_variable":{"runAfter":{},"type":"IncrementVariable","inputs":{"name":"varTotalScore","value":1}}},"runAfter":{},"expression":{"equals":["@items('Questions')?['matt_question1']","@triggerBody()?['entity']?['matt_quizquestion1']"]},"type":"If"},"Condition_2":{"actions":{"Increment_variable_2":{"runAfter":{},"type":"IncrementVariable","inputs":{"name":"varTotalScore","value":1}}},"runAfter":{"Condition":["Succeeded"]},"expression":{"equals":["@items('Questions')?['matt_question2']","@triggerBody()?['entity']?['matt_quizquestion2']"]},"type":"If"},"Condition_3":{"actions":{"Increment_variable_3":{"runAfter":{},"type":"IncrementVariable","inputs":{"name":"varTotalScore","value":1}}},"runAfter":{"Condition_2":["Succeeded"]},"expression":{"equals":["@items('Questions')?['matt_question3']","@triggerBody()?['entity']?['matt_quizquestion3']"]},"type":"If"},"Update_a_record":{"runAfter":{"Condition_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"matt_quizresponseses","recordId":"@items('Questions')?['matt_quizresponsesid']","item/matt_totalscore":"@variables('varTotalScore')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_variable":{"runAfter":{"Update_a_record":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varTotalScore","value":0}},"Condition_4":{"actions":{"Increment_variable_4":{"runAfter":{},"type":"IncrementVariable","inputs":{"name":"varTotalScore","value":1}}},"runAfter":{"Condition_3":["Succeeded"]},"expression":{"equals":["@items('Questions')?['matt_question4']","@triggerBody()?['entity']?['matt_quizquestion4']"]},"type":"If"},"Condition_5":{"actions":{"Increment_variable_5":{"runAfter":{},"type":"IncrementVariable","inputs":{"name":"varTotalScore","value":1}}},"runAfter":{"Condition_4":["Succeeded"]},"expression":{"equals":["@items('Questions')?['matt_question5']","@triggerBody()?['entity']?['matt_quizquestion5']"]},"type":"If"}},"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Foreach"},"Send_an_email_(V2)":{"runAfter":{"Format_HTML_Table":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"matt.collins@TechServiceGroup.onmicrosoft.com","emailMessage/Subject":"Scores for quiz - @{triggerBody()?['entity']?['matt_name']}","emailMessage/Body":"<p>Please see the scores below:<br>\n<br>\n@{outputs('Format_HTML_Table')}</p>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_records_2":{"runAfter":{"Questions":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"matt_quizresponseses","$filter":"_matt_quizanswers_value eq @{triggerBody()?['entity']?['matt_quizanswersid']}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_HTML_table":{"runAfter":{"List_records_2":["Succeeded"]},"type":"Table","inputs":{"from":"@outputs('List_records_2')?['body/value']","format":"HTML","columns":[{"header":"Student","value":"@item()?['matt_name']"},{"header":"Score","value":"@item()?['matt_totalscore']"}]}},"Format_HTML_Table":{"runAfter":{"Create_HTML_table":["Succeeded"]},"type":"Compose","inputs":"@replace(\r\n    replace(body('Create_HTML_table'),'<table>','<table border=\"1\">'),\r\n    '<td>','<td style=\"padding:20px\">'\r\n    )"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}